.btn {
    background-color: #4CAF50;  
    border: none;   
    color: white;  
    padding: 15px 32px;   
    text-align: center;   
    text-decoration: none;   
    display: inline-block;   
    font-size: 16px;
    margin: 5px;
    min-width: 87px;
}

.result{
    width: -webkit-fill-available;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    text-align: right;
}

.section {
    max-width: 400px;
    margin: auto;
}